<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rejestracja</title>
  </head>
  <body>
    <h1>Rejestracja użytkownika</h1>
    <form action="/register" method="POST" enctype="multipart/form-data">
      <label for="username">Nazwa użytkownika:</label>
      <input type="text" id="username" name="username" required /><br />
      <label for="fingerprint">Plik z odciskiem palca:</label>
      <input type="file" id="fingerprint" name="fingerprint" required /><br />
      <button type="submit">Zarejestruj</button>
    </form>
  </body>
</html>
